// Form size
$input-height: 48px !default;

// Button size
$button-height: 48px !default;
$button-height-small: 35px !default;
$button-height-x-small: 26px !default;
$button-height-xx-small: 20px !default;

// Typography
$line-height-normal: 1.4;
$line-height-head: 1.2;

$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;

$font-size-mini: 10px !default;
$font-size-small: 12px !default;
$font-size-normal: 13px !default;
$font-size-medium: 14px !default;
$font-size-big: 15px !default;

$font-size-h6: 16px !default;
$font-size-h5: 24px !default;
$font-size-h4: 32px !default;
$font-size-h3: 40px !default;
$font-size-h2: 48px !default;
$font-size-h1: 64px !default;

// Global
$radius: 4px !default;
$radius-2: 2px !default;
$transition: 120ms !default;

// Colors
$color-primary: #5707FF !default;
$color-secondary: #00ffd1 !default;
$color-link: #4c91ff !default;

$color-success: #6af499 !default;
$color-danger: #ff5151 !default;
$color-warning: #ea5f00 !default;
$color-info: #68c3e3 !default;

$color-gray-200: #e3e3e3 !default;
$color-gray-300: #8b93a1 !default;
$color-gray-400: #151c27 !default;
$color-gray-500: #0a0f17 !default;
$color-gray-600: #06070a !default;

// space
$spacer: 8px !default;
$spacer-0: 0 !default; // 0
$spacer-1: round($spacer / 2) !default; // 4px
$spacer-2: $spacer !default; // 8px
$spacer-3: $spacer * 2 !default; // 16px
$spacer-4: $spacer * 3 !default; // 24px
$spacer-5: $spacer * 4 !default; // 32px
$spacer-6: $spacer * 5 !default; // 40px
$spacer-7: $spacer * 6 !default; // 48px
$spacer-8: $spacer * 7 !default; // 56px
