// Config
@import 'config/variables';
@import 'config/font-face';
@import 'config/formalize';

// Plugins
@import 'plugins/v-tooltip';
@import 'plugins/vue-notifications.scss';

// Utilities
@import 'utilities/space';
@import 'utilities/colors';
@import 'utilities/flexbox';
@import 'utilities/typography';
@import 'utilities/display';
@import 'utilities/visibility';

html {
  color: $color-primary;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: $color-gray-300;
}

.radius {
  border-radius: $radius;
}

.radius-2 {
  border-radius: $radius-2;
}

.rounded {
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $transition;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.ps__rail-x {
  height: 8px !important;
  background-color: $color-gray-500 !important;
}

.ps__thumb-x {
  height: 4px !important;
  background-color: $color-primary !important;
}

.ps__rail-y {
  width: 8px !important;
  background-color: $color-gray-500 !important;
}

.ps__thumb-y {
  width: 4px !important;
  background-color: $color-primary !important;
}

.table-row {
  &-enter-active,
  &-leave-active {
    transition: $transition;
  }

  &-enter {
    transform: translateX(-10px);
  }

  &-leave-to {
    transform: translateX(10px);
  }
}

.form {
  padding: $spacer-3;
  height: auto;

  &,
  &-row {
    display: flex;
    flex-direction: column;
  }

  &-row {
    border-bottom: 1px solid $color-gray-500;

    label {
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
      line-height: 16px;
      margin: 12px $spacer-3 0 $spacer-3;
    }

    &:last-of-type {
      border: 0;
    }
  }
}

.vue-notification-group {
  top: 10px !important;
  border-radius: 4px;
}

.vue-notification {
  border-radius: 2px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.anim-spin {
  animation: spin 2s linear infinite;
}

.text-center  {
  text-align: center;
}

.rot-90 {
  transform: rotate(90deg);
}

.rot-180 {
  transform: rotate(180deg);
}

.rot-270 {
  transform: rotate(270deg);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.c-pointer {
  cursor: pointer;
}

hr {
  border: 0;
  border-bottom: 1px solid $color-primary;
}

.slide {
  &-enter-active {
    transition: all $transition ease;
  }

  &-leave-active {
    transition: all $transition ease;
  }

  &-enter,
  &-leave-to {
    transform: translateX(100%);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

/** Detail Page **/
.detail-page {
  width: 100%;
  height: 100vh;
  border-left: 1px solid black;
  background-color: $color-gray-600;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid black;
    padding: 0 $spacer-5;

    &-avatar {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      background-color: $color-gray-400;
      display: flex;
      align-items: center;
    }

    &-summary {
      color: #fff;
      margin: 0 auto 0 $spacer-3;
      display: flex;
      flex-direction: column;

      .url {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
      }

      .email {
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
      }
    }

    &-icon {
      min-width: 24px;
      min-height: 24px;
      max-width: 24px;
      max-height: 24px;
      border-radius: 4px;
      background-color: $color-gray-500;
      margin-left: $spacer-3;
      color: $color-gray-300;
    }
  }

  &-content {
    position: relative;
    height: calc(100% - 64px);
    overflow-x: auto;
    width: 99%;

    .form-row {
      span {
        max-width: 320px;
        @extend .text-truncate
      }
    }

    .edit-btn {
      position: absolute;
      top: 37px;
      right: 32px;
    }
  }
}
