$colors-map: (
  'primary': $color-primary,
  'secondary': $color-secondary,
  'link': $color-link,
  'success': $color-success,
  'danger': $color-danger,
  'warning': $color-warning,
  'info': $color-info,
  'gray-200': $color-gray-200,
  'gray-300': $color-gray-300,
  'gray-400': $color-gray-400,
  'gray-500': $color-gray-500,
  'gray-600': $color-gray-600
) !default;

@each $name, $color in $colors-map {
  .c-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
}
