$colors-map: (
  'primary-400': $color-primary-400,
  'gray': $color-gray,
  'gray-20': $color-gray-20,
  'dark': $color-dark,
  'dark-60': $color-dark-60,
  'dark-50': $color-dark-50,
  'dark-30': $color-dark-30,
  'dark-20': $color-dark-20,
  'dark-10': $color-dark-10,
  'dark-5': $color-dark-5,
  'dark-3': $color-dark-3,
  'white': $color-white,
  'turk': $color-turk,
  'turk-30': $color-turk-30,
  'turk-10': $color-turk-10,
  'turk-dark': $color-turk-dark,
  'red': $color-red,
  'red-soft': $color-red-soft,
  'red-dark': $color-red-dark,
  'orange': $color-orange,
  'orange-soft': $color-orange-soft,
  'orange-dark': $color-orange-dark,
  'blue': $color-blue,
  'blue-soft': $color-blue-soft,
  'blue-dark': $color-blue-dark,
  'green': $color-green,
  'green-soft': $color-green-soft,
  'red-5': $color-red-5,
  'orange-5': $color-orange-5,
  'blue-5': $color-blue-5
) !default;

@each $name, $color in $colors-map {
  .c-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
}
