$display-values: (
  block,
  flex,
  inline,
  inline-block,
  inline-flex,
  none,
  table,
  table-cell
);

@each $display in $display-values {
  .d-#{$display} {
    display: $display !important;
  }
}

.table-fixed {
  table-layout: fixed !important;
}
