// Flexbox classes

// Container
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-justify-end {
  justify-content: flex-end !important;
}
.flex-justify-center {
  justify-content: center !important;
}
.flex-justify-between {
  justify-content: space-between !important;
}
.flex-justify-around {
  justify-content: space-around !important;
}

.flex-items-start {
  align-items: flex-start !important;
}
.flex-items-end {
  align-items: flex-end !important;
}
.flex-items-center {
  align-items: center !important;
}
.flex-items-baseline {
  align-items: baseline !important;
}
.flex-items-stretch {
  align-items: stretch !important;
}

.flex-content-start {
  align-content: flex-start !important;
}
.flex-content-end {
  align-content: flex-end !important;
}
.flex-content-center {
  align-content: center !important;
}
.flex-content-between {
  align-content: space-between !important;
}
.flex-content-around {
  align-content: space-around !important;
}
.flex-content-stretch {
  align-content: stretch !important;
}

// Item
.flex-auto {
  flex: 1 1 auto !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-self-auto {
  align-self: auto !important;
}
.flex-self-start {
  align-self: flex-start !important;
}
.flex-self-end {
  align-self: flex-end !important;
}
.flex-self-center {
  align-self: center !important;
}
.flex-self-baseline {
  align-self: baseline !important;
}
.flex-self-stretch {
  align-self: stretch !important;
}

// Shorthand for equal width and height cols
.flex-item-equal {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-order-1 {
  order: 1 !important;
}
.flex-order-2 {
  order: 2 !important;
}
.flex-order-none {
  order: inherit !important;
}

.flex-1 {
  flex: 1 !important;
}
